@model InventorySystem.Core.Application.ViewModel.Producto.ProductoSaveViewModel;
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = editMode ? "Edit Producto" : "Add Producto";
    int id = Model.Id;
    Layout = "~/Views/Shared/_LayoutBarAdmin.cshtml";
}
<style>
    .sidebar i {
        line-height: 60px;
        position: relative;
        right: 32px;
    }

    .sidebar li a:hover {
        background: transparent;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="row">
    <div class="col-6 offset-3 p-3 mb-3">
        <div class="shadow-lg   bg-body-tertiary rounded row d-flex justify-content-center align-items-center ">
            <div class="card p-2">
                <div class="card-header gradient text-light" style="background-color:#005954;">
                    <h4>@(editMode ? $"Editando el producto: {Model.Nombre}" : "Creando un nuevo producto")</h4>
                </div>
                <div class="card-body">
                    <div class=" col mb-4">
                        @if(editMode){
                            <img src="@Model.ImgUrl" class="card-img-top" alt="...">
                        }
                    </div>

                        <form class="needs-validation" method="post" asp-controller="Producto" asp-action="@(editMode ? "Edit":"Create")" enctype="multipart/form-data">
                            
                           <input type="hidden" asp-for="ImgUrl" />
                            <div class="form-outline mb-4">
                                <input asp-for="Nombre" class="form-control form-control-lg"
                                    placeholder="Ingresar el nombre" maxlength="200" required/>
                                <span id="errorMessage" asp-validation-for="Nombre" class="text-danger"></span>
                            </div>

                        @if (!string.IsNullOrEmpty(ViewData.ModelState["Nombre"]?.Errors.FirstOrDefault()?.ErrorMessage))
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @Html.Raw(ViewData.ModelState["Nombre"]?.Errors.FirstOrDefault()?.ErrorMessage)
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                            <div class="form-outline mb-4">
                                @if (editMode)
                                {
                                    <input asp-for="ImgFile" accept="image/jpg, image/jpeg, image/png, image/gif" multiple class="form-control form-control-lg"
                                           placeholder="Seleccione la imagen" />
                                }
                                else
                                {
                                <input asp-for="ImgFile" accept="image/jpg, image/jpeg, image/png, image/gif" multiple required class="form-control form-control-lg"
                                           placeholder="Seleccione la imagen" />
                                <span asp-validation-for="ImgFile" class="text-danger"></span>
                                }

                            </div>
                        <div class="form-outline mb-4">
                            <input type="date" asp-for="FechaCaducidad" class="form-control form-control-lg"
                                   placeholder="Ingresar el caducidad"  required/>
                            <span id="fechaCad" asp-validation-for="FechaCaducidad" class="text-danger"></span>
                        </div>

                            <div class="form-outline mb-4">
                            <input asp-for="Precio" minlength="1" pattern="^[0-9]+(\.[0-9]+)?$" class="form-control form-control-lg"
                                       placeholder="Ingresar el precio" required/>
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>

                        @if (!string.IsNullOrEmpty(ViewData.ModelState["AreaUbicacion"]?.Errors.FirstOrDefault()?.ErrorMessage))
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @Html.Raw(ViewData.ModelState["AreaUbicacion"]?.Errors.FirstOrDefault()?.ErrorMessage)
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                        <div class="form-outline mb-4">
                            <input type="text" asp-for="AreaUbicacion" class="form-control form-control-lg"
                                   placeholder="Ingresar el area" required/>
                            <span asp-validation-for="AreaUbicacion" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <input asp-for="Stock" minlength="1" pattern="[0-9]+" class="form-control form-control-lg"
                                   placeholder="Ingresar el Stock" required/>
                            <span asp-validation-for="Stock" class="text-danger"></span>
                        </div>

                        @if (!string.IsNullOrEmpty(ViewData.ModelState["Descripcion"]?.Errors.FirstOrDefault()?.ErrorMessage))
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                @Html.Raw(ViewData.ModelState["Descripcion"]?.Errors.FirstOrDefault()?.ErrorMessage)
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }

                            <div class="form-outline mb-4">
                                <textarea asp-for="Descripcion" class="form-control form-control-lg"
                                          placeholder="Ingresas la descripcion"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>

                            <div class="mb-3">
                                <select asp-for="IdCategoria" asp-items="@(new SelectList(Model.categoriaViewModels,"Id","Nombre"))" class="form-control form-control-lg" required>
                                    <option value="">-- Select a categoria--</option>
                                </select>
                            <span asp-validation-for="IdCategoria" class="text-danger"></span>
                            </div>

                        <div class="mb-3">
                            <select asp-for=" IdMarca" asp-items="@(new SelectList(Model.marcaViewModels,"Id","Nombre"))" class="form-control form-control-lg" required>
                                <option value="">-- Select a marca --</option>
                            </select>
                            <span asp-validation-for="IdMarca" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <select asp-for="IdProveedor" asp-items="@(new SelectList(Model.proveedorSaveViews,"Id","Nombre"))" class="form-control form-control-lg" required>
                                <option value="">-- Select a proveedor --</option>
                            </select>
                            <span asp-validation-for="IdProveedor" class="text-danger"></span>
                        </div>

                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="IdNegocio"/>
                        <button type="submit" class="btn btn-primary" style="background-color: #E0ECED; color:black; border:none;">Guardar</button>
                        <a asp-controller="Producto" asp-action="IndexAdmi" class="btn btn-danger" style="background-color: #E0ECED; color:black; border:none;">Volver atras</a>

                        </form>
                    


                </div>

            </div>
        </div>

    </div>
</div>
<script>

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
