@using InventorySystem.Core.Application.ViewModel.Categoria;
@using InventorySystem.Core.Application.ViewModel.Marca;
@using InventorySystem.Core.Application.ViewModel.Proveedor;
@using InventorySystem.Core.Application.Helper;
@using InventorySystem.Core.Application.ViewModel.Usuario;
@inject IHttpContextAccessor HttpContextAccessor;
@{
    var user = HttpContextAccessor.HttpContext.Session.Get<UsuarioViewModel>("user");
}
@model IEnumerable<InventorySystem.Core.Application.ViewModel.Producto.ProductoViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBar.cshtml";
}
<link rel="stylesheet" href="~/css/productoStyle.css" />
<style>
    .button-container {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .button {
        background-color: #5DC1B9;
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
        border-radius: 15px;
    }
</style>
@if (!string.IsNullOrEmpty(ViewData.ModelState["Producto"]?.Errors.FirstOrDefault()?.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(ViewData.ModelState["Producto"]?.Errors.FirstOrDefault()?.ErrorMessage)
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="main-container">

    <form method="get" asp-controller="Producto" asp-action="GetBy">


    <div class="container-header">
        <input type="text" name="nombre" class="search-input" placeholder="Buscar ">
       
            <div class="select-container">
                <label for="categoria">Categorias:</label>
                <select id="categoria" name="idCategoria">
                    <option value="">Seleccione una categoría</option>
                    @foreach (CategoriaViewModel category in ViewBag.Categorias)
                    {
                    <option value="@category.Id">@category.Nombre</option>

                    }
                </select>

            </div>



   
            <div class="select-container">
                <label for="marca">Marca: </label>
                <select id="marca" name="idMarca">
                    <option value="">Seleccione una marca</option>
                    @foreach (MarcaViewModel marca in ViewBag.Marcas)
                    {
                    <option value="@marca.Id">@marca.Nombre</option>
                    }
                </select>
            </div>
      
       
        <div class="select-container">
            <input value="true" type="checkbox" name="fechaCaducidad" id="caducidad" />
            <label for="caducidad">Fecha De Caducidad Cercana</label>
        </div>
    </div>

        <div class="button-container">
            <button class="button" type="submit">Buscar</button>
        </div>

      </form>
    @foreach (var item in Model)
    {
        <div class="product-box">
            <div class="product-image"><img class="" src="@item.ImgUrl"></div>
            <div class="product-details">@item.Nombre</div>
            <div class="product-price">$@item.Precio</div>

            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#productoModal-@item.Id">
                Ver Detalles
            </button>
        </div>

        <!-- Detalles del Producto Modal -->
        <div class="modal fade" id="productoModal-@item.Id" tabindex="-1" aria-labelledby="productoModalLabel-@item.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productoModalLabel-@item.Id">Detalles del Producto @item.Nombre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img class="img-thumbnail mx-auto my-4" style="max-width: 40%; max-height: 150px;" src="@item.ImgUrl" />

                        <dl class="row">
                            <dt class="col-sm-3">Nombre:</dt>
                            <dd class="col-sm-9">@item.Nombre</dd>

                            <dt class="col-sm-3">Precio:</dt>
                            <dd class="col-sm-9">$@item.Precio</dd>

                            <dt class="col-sm-3">Proveedor:</dt>
                            <dd class="col-sm-9">@item.Proveedor</dd>

                            <dt class="col-sm-3">Categoría:</dt>
                            <dd class="col-sm-9">@item.Categoria</dd>

                            <dt class="col-sm-3">Marca:</dt>
                            <dd class="col-sm-9">@item.Marca</dd>

                            <dt class="col-sm-3">Caducidad:</dt>
                            <dd class="col-sm-9">@item.FechaCaducidad?.Year</dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-primary">Editar</a>
                        <form asp-action="Delete" method="post" asp-route-id="@item.Id" asp-controller="Producto">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
       
                        </form>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

    }



    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
