@using InventorySystem.Core.Application.ViewModel.Marca;
@model List<MarcaViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutBar.cshtml";

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Telefono
            </th>
            <th>
                Productos
            </th>
        </tr>
    </thead>
@foreach (var item in Model) {
        <tbody>
        <tr>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Telefono
            </td>
            <td>
                @item.CountProductos
            </td>
            <td>
                <a asp-action="Edit" asp-controller="Marca" asp-route-id="@item.Id">Edit</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#marcaModal-@item.Id">
                        Eliminar
                    </button>

            </td>
        </tr>
    </tbody>
        <div class="modal fade" id="marcaModal-@item.Id" tabindex="-1" aria-labelledby="marcaModalLabel-@item.Id" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="marcaModalLabel-@item.Id">Eliminar la marca @item.Nombre</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-header bg-danger text-light">
                            <h4>Esta seguro que desea eliminar la marca @item.Nombre?</h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form asp-action="Delete" method="post" asp-route-id="@item.Id" asp-controller="Marca">
                            <button type="submit" class="btn btn-danger">Eliminar</button>

                        </form>
                        <button type="button" data-bs-dismiss="modal" class="btn btn-secondary">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>


}
</table>
