@model IEnumerable<SisInventario.Models.Producto>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="mb-3">

        <form method="get" asp-controller="Productos" asp-action="GetBy">
            <div class="mb-3">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="idCategoria" class="form-control" asp-items="ViewBag.IdCategoria as SelectList">
                    <option value="">Seleccione una categoría</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="marca">Marca:</label>
                <select id="marca" name="idMarca" class="form-control" asp-items="ViewBag.IdMarca as SelectList">
<option value="">Seleccione una marca</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="text" name="nombre" class="form-control form-control-lg"
                       placeholder="Ingresar el nombre" />
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div> 

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaUbicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreProveedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
