@model IEnumerable<SisInventario.Models.Producto>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="mb-3">

        <form method="get" asp-controller="Productos" asp-action="GetByFecha">
            <div class="mb-3">
                <input type="text" name="year" class="form-control form-control-lg"
                       placeholder="Ingresar el año" />
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div>
<div class="mb-3">

        <form method="get" asp-controller="Productos" asp-action="GetByCategoria">
            <div class="mb-3">
                <label for="categoria">Categoría:</label>
                <select id="categoria" name="Id" class="form-control" asp-items="ViewBag.IdCategoria as SelectList">
                </select>
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
</div>
    <div class="mb-3">
  
        <form method="get" asp-controller="Productos" asp-action="GetByMarca">
            <div class="mb-3">
                <label for="marca">Marca:</label>
                <select id="marca" name="Id" class="form-control" asp-items="ViewBag.IdMarca as SelectList">
                </select>
            </div>
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </form>
    </div>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCaducidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaUbicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMarcaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCaducidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarcaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
